// ------------ COLOR ----------//
$color-white: #ffffff;
$color-blue: #007cc3;
$color-blue-100: #2298DB;
$color-dark-blue: #264E7A;
$color-dark-blue-100: #00324F;
$color-red: #FF403F; 
$color-black: #000;

//-------------- FONT SIZE ---------------//
$font-size-html: 16px;
$font-size-1: 1.4rem;
$font-size-2: 1.8rem;
$font-size-3: 6rem;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-300: 300px;

//---------------- PADDING --------------------
$pd-1: 15px
$pd-2: 20px;
$pd-3: 25px;
$pd-4: 30px;
$pd-5; 50px;

//---------------- MARGIN --------------------
$mg-1:20px ;
$mg-1: ;
$mg-1: ;
$mg-1: ;


